@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to Lexical Analyzer</h1>
<p class="alert alert-primary">This project made for Mr Kargar</p>
<p class="alert alert-info" role="alert" >Devloped By <a href="https://github.com/behroozbc">Behrooz</a> for see source code click <a href="https://github.com/behroozbc/LexicalAnalyzer">here</a></p>

            <a class="btn btn-link" href="analyzer">
                <span class="oi oi-code" aria-hidden="true"></span> Analyzer
            </a>
