@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to Lexical Analyzer</h1>
<p class="alert alert-primary">This project made for Mr Kargar</p>
<p>Devloped By <a href="https://github.com/behroozbc">Behrooz</a> for see source code click <a href="">here</a></p>
<p></p>
